.accordion {
    max-width: 900px;
    margin: 1rem auto;
}

.accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.accordion-title:hover {
    background-color: rgba(182, 182, 182, 0.43);
}

.accordion-title,
.accordion-content {
    padding: 10px;
}

.accordion-title-text{
    text-align: center;
}